main {
    margin: 30px;
}

h2 {
    margin: 1% 10px 20px;
}

h3 {
    position: relative;
    left: 40px;
}

main a {
    color: cornflowerblue;
}

main a:hover {
    text-decoration: none;
}

main a:active {
    text-decoration: none;
    color: slateblue;
}
